body {
    background: #6a88c6;
    font-family: 'Squada One', cursive;
}

img {
    max-height: 80%;
    max-width: 100%;
    margin: 2%;
}

/* Backup Colors:
light blue #6a88c6
grey #f3f3f8
dark blue#000542 */