body {
    background: #6a88c6;
    font-family: 'Squada One', cursive;
}

#welcome {
    text-align: center;
}

body img {
    max-height: 50%;
    max-width: 50%;
}

main {
    text-align: center;
}

main #posts {
    background: #f3f3f8;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    display: flex;
    justify-content: flex-start;
}