<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Bandspace</h1>
    <nav>
        <a href="/bands/signup">Sign Up</a>
        <a href="/bands/login">Log In</a>
    </nav>
    <% for (let i = 0; i < bands.length; i++) { %>
        <a href="/bands/profile/<%=bands[i].id%>"><%=bands[i].username %></a>
        <p><%= bands[i].bandName %></p>
    <% } %>
</body>
</html>


<!-- bandId: '',
username: '',
password: '',
bandName: '',
genre: '',
bandMembers: '',
bcLink: '', -->