<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bands" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="bandName" placeholder="Band's Name">
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="bandMembers" placeholder="Band Members">
        <input type="url" name="bcLink" placeholder="BandCamp Link">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>

<!-- bandId: '',
username: '',
password: '',
bandName: '',
genre: '',
bandMembers: '',
bcLink: '', -->