<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Bandspace</h1>
    <h3>Please Enter your Band's Information:</h3>
    <form action="/bands" method="POST">
        <input type="text" name="username" placeholder="Username"> <br> </br>
        <input type="password" name="password" placeholder="Password"> <br> </br>
        <input type="text" name="bandName" placeholder="Band's Name"> <br> </br>
        <input type="text" name="genre" placeholder="Genre"> <br> </br>
        <input type="text" name="bandMembers" placeholder="Band Members"> <br> </br>
        <input type="url" name="bcLink" placeholder="BandCamp Link"> <br> </br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>

<!-- bandId: '',
username: '',
password: '',
bandName: '',
genre: '',
bandMembers: '',
bcLink: '', -->